{% extends "base.html" %}

{% block content %}
<h2 class="mb-3">Buscar correo por nombre</h2>

<form method="POST" class="card p-4 shadow-sm">
    <label>Nombre:</label>
    <input type="text" name="nombre" class="form-control mb-3" required>

    <button class="btn btn-primary">Buscar</button>
</form>

{% if resultado %}
<div class="alert alert-success mt-3">{{ resultado }}</div>
{% endif %}

{% if error %}
<div class="alert alert-danger mt-3">{{ error }}</div>
{% endif %}

<a href="/addmail" class="btn btn-link mt-3">Añadir nuevo usuario</a>
{% endblock %}
